<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lion.nocomet.app" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".act1_group" >
        </activity>
        <activity
            android:name=".act2_group_info"
            android:label="@string/title_activity_act2_group_info"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".act3_message" >
        </activity>
        <activity android:name=".act4_confirm_message" >
        </activity>
        <activity
            android:name="com.lion.nocomet.screen.Login_act"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.lion.nocomet.screen.main_act"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.lion.nocomet.screen.Tour_act"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.lion.nocomet.screen.RegistGroup_act"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.lion.nocomet.screen.Chatting_act"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name="com.lion.nocomet.screen.TourFinal_act"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
